React_Website_FrontEnd_Web/Connected Services/ServiceReference1/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50319/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50319/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50319/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_AddProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProduct" />
  </wsdl:message>
  <wsdl:message name="IService_AddProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProductResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetProductName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductName" />
  </wsdl:message>
  <wsdl:message name="IService_GetProductName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService_editProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:editProduct" />
  </wsdl:message>
  <wsdl:message name="IService_editProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:editProductResponse" />
  </wsdl:message>
  <wsdl:message name="IService_productList_InputMessage">
    <wsdl:part name="parameters" element="tns:productList" />
  </wsdl:message>
  <wsdl:message name="IService_productList_OutputMessage">
    <wsdl:part name="parameters" element="tns:productListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveProduct" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveProductResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCategory" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:AddOrder" />
  </wsdl:message>
  <wsdl:message name="IService_AddOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddPaymentMethod_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPaymentMethod" />
  </wsdl:message>
  <wsdl:message name="IService_AddPaymentMethod_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPaymentMethodResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddOrderItem_InputMessage">
    <wsdl:part name="parameters" element="tns:AddOrderItem" />
  </wsdl:message>
  <wsdl:message name="IService_AddOrderItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddOrderItemResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProduct" />
  </wsdl:message>
  <wsdl:message name="IService_GetProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteOrderItem_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrderItem" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteOrderItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrderItemResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UserLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:UserLogin" />
  </wsdl:message>
  <wsdl:message name="IService_UserLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService_userRegister_InputMessage">
    <wsdl:part name="parameters" element="tns:userRegister" />
  </wsdl:message>
  <wsdl:message name="IService_userRegister_OutputMessage">
    <wsdl:part name="parameters" element="tns:userRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetUserName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserName" />
  </wsdl:message>
  <wsdl:message name="IService_GetUserName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetInvoice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInvoice" />
  </wsdl:message>
  <wsdl:message name="IService_GetInvoice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddInvoice_InputMessage">
    <wsdl:part name="parameters" element="tns:AddInvoice" />
  </wsdl:message>
  <wsdl:message name="IService_AddInvoice_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getProductPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:getProductPrice" />
  </wsdl:message>
  <wsdl:message name="IService_getProductPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductPriceResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getProductUrl_InputMessage">
    <wsdl:part name="parameters" element="tns:getProductUrl" />
  </wsdl:message>
  <wsdl:message name="IService_getProductUrl_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductUrlResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getProductQuantinty_InputMessage">
    <wsdl:part name="parameters" element="tns:getProductQuantinty" />
  </wsdl:message>
  <wsdl:message name="IService_getProductQuantinty_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductQuantintyResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getProductDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:getProductDescription" />
  </wsdl:message>
  <wsdl:message name="IService_getProductDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getProductCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:getProductCategory" />
  </wsdl:message>
  <wsdl:message name="IService_getProductCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:getPrice" />
  </wsdl:message>
  <wsdl:message name="IService_getPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPriceResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UserRegisterBackup_InputMessage">
    <wsdl:part name="parameters" element="tns:UserRegisterBackup" />
  </wsdl:message>
  <wsdl:message name="IService_UserRegisterBackup_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserRegisterBackupResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="AddProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddProduct" message="tns:IService_AddProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddProductResponse" message="tns:IService_AddProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetProductName" message="tns:IService_GetProductName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetProductNameResponse" message="tns:IService_GetProductName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="editProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/editProduct" message="tns:IService_editProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/editProductResponse" message="tns:IService_editProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="productList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/productList" message="tns:IService_productList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/productListResponse" message="tns:IService_productList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RemoveProduct" message="tns:IService_RemoveProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RemoveProductResponse" message="tns:IService_RemoveProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RemoveCategory" message="tns:IService_RemoveCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RemoveCategoryResponse" message="tns:IService_RemoveCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddOrder" message="tns:IService_AddOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddOrderResponse" message="tns:IService_AddOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPaymentMethod">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddPaymentMethod" message="tns:IService_AddPaymentMethod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddPaymentMethodResponse" message="tns:IService_AddPaymentMethod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddOrderItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddOrderItem" message="tns:IService_AddOrderItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddOrderItemResponse" message="tns:IService_AddOrderItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetProduct" message="tns:IService_GetProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetProductResponse" message="tns:IService_GetProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOrderItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteOrderItem" message="tns:IService_DeleteOrderItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteOrderItemResponse" message="tns:IService_DeleteOrderItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UserLogin" message="tns:IService_UserLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UserLoginResponse" message="tns:IService_UserLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="userRegister">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/userRegister" message="tns:IService_userRegister_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/userRegisterResponse" message="tns:IService_userRegister_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetUser" message="tns:IService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetUserResponse" message="tns:IService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetUserName" message="tns:IService_GetUserName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetUserNameResponse" message="tns:IService_GetUserName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInvoice">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetInvoice" message="tns:IService_GetInvoice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetInvoiceResponse" message="tns:IService_GetInvoice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddInvoice">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddInvoice" message="tns:IService_AddInvoice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddInvoiceResponse" message="tns:IService_AddInvoice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProductPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getProductPrice" message="tns:IService_getProductPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getProductPriceResponse" message="tns:IService_getProductPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProductUrl">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getProductUrl" message="tns:IService_getProductUrl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getProductUrlResponse" message="tns:IService_getProductUrl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProductQuantinty">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getProductQuantinty" message="tns:IService_getProductQuantinty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getProductQuantintyResponse" message="tns:IService_getProductQuantinty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProductDescription">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getProductDescription" message="tns:IService_getProductDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getProductDescriptionResponse" message="tns:IService_getProductDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProductCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getProductCategory" message="tns:IService_getProductCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getProductCategoryResponse" message="tns:IService_getProductCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getPrice" message="tns:IService_getPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getPriceResponse" message="tns:IService_getPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserRegisterBackup">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UserRegisterBackup" message="tns:IService_UserRegisterBackup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UserRegisterBackupResponse" message="tns:IService_UserRegisterBackup_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddProduct">
      <soap:operation soapAction="http://tempuri.org/IService/AddProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductName">
      <soap:operation soapAction="http://tempuri.org/IService/GetProductName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editProduct">
      <soap:operation soapAction="http://tempuri.org/IService/editProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="productList">
      <soap:operation soapAction="http://tempuri.org/IService/productList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveProduct">
      <soap:operation soapAction="http://tempuri.org/IService/RemoveProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCategory">
      <soap:operation soapAction="http://tempuri.org/IService/RemoveCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrder">
      <soap:operation soapAction="http://tempuri.org/IService/AddOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPaymentMethod">
      <soap:operation soapAction="http://tempuri.org/IService/AddPaymentMethod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrderItem">
      <soap:operation soapAction="http://tempuri.org/IService/AddOrderItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProduct">
      <soap:operation soapAction="http://tempuri.org/IService/GetProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOrderItem">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteOrderItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <soap:operation soapAction="http://tempuri.org/IService/UserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="userRegister">
      <soap:operation soapAction="http://tempuri.org/IService/userRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserName">
      <soap:operation soapAction="http://tempuri.org/IService/GetUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoice">
      <soap:operation soapAction="http://tempuri.org/IService/GetInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddInvoice">
      <soap:operation soapAction="http://tempuri.org/IService/AddInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductPrice">
      <soap:operation soapAction="http://tempuri.org/IService/getProductPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductUrl">
      <soap:operation soapAction="http://tempuri.org/IService/getProductUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductQuantinty">
      <soap:operation soapAction="http://tempuri.org/IService/getProductQuantinty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductDescription">
      <soap:operation soapAction="http://tempuri.org/IService/getProductDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductCategory">
      <soap:operation soapAction="http://tempuri.org/IService/getProductCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPrice">
      <soap:operation soapAction="http://tempuri.org/IService/getPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRegisterBackup">
      <soap:operation soapAction="http://tempuri.org/IService/UserRegisterBackup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:50319/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>